<div class="col-md-12">

<%= link_to("write a post", new_group_post_path(@group), class: "btn btn-default pull-right") %>

  <div class="group">
      <% if current_user && current_user==@group.user %>
        <%= link_to("Edit",edit_group_path(@group),class: "btn btn-primary pull-right") %>
      <% end %>
  </div>

                <h2><%= @group.title %></h2>
                <p><%= @group.description %></p>


  <table class="table table-hover">
    <thead>
      <tr>
        <td>文章内容</td>
        <td>发表者</td>
        <td>发表时间</td>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |a| %>
        <tr>
          <td><%= a.content %></td>
          <td><%= a.user.email %></td>
          <td><%= a.created_at %></td>
          <td>
          <% if current_user && current_user==a.user %>
            <%= link_to("Edit", edit_group_post_path(a), class: "btn btn-sm btn-default")%>
            <%= link_to("Delete", group_post_path(a), class: "btn btn-sm btn-default" ,method: :delete, data:{ confirm: "Are you sure?"})%>
            <% end  %>
            </td>

            </tr>
            <% end %>
            </tbody>
            </table>
    <div class="text-center"> 
      <%= will_paginate @posts %>
    </div>
  </div>
